{% extends 'components/portal_root.html' %}
{% block page_title %}Service Ticket Form{% endblock %}
{% block body %}
    <h1>This is the service ticket form page page.</h1>
    <p>This is where customers create new service tickets and edit existing ones. Need to detect if creating or editing and update button text accordingly.</p>    
    <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} This is what we'll use when we actually create the form backend{% endcomment %}
        <label for="service-select">Service:</label>
        <select name="service-select" id="service-select">
            <option value="1">Some service</option>
            <option value="2">Some other service</option>        
            <option value="3">You get it...</option>        
        </select>
        <a href="{% url 'cancel_service_ticket' %}">CANCEL SERVICE TICKET</a>
        <button>Back</button>
        <button type="submit">Create Service Ticket/Save Changes</button>
    </form>  
{% endblock %}