{% extends 'components/portal_root.html' %}
{% block page_title %}Service Ticket Cancellation Form{% endblock %}
{% block body %}
    <h1>This is the service ticket cancellation form page page.</h1>
    <p>This is where customers create new service tickets cancellation. Cancellations can't be edited.</p>
    <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} This is what we'll use when we actually create the form backend{% endcomment %}
        <p>Are you sure you want to cancel [THIS TICKET]?</p>
        <label for="reason-for-cancellation">Reason for Cancellation:</label>
        <textarea name="reason-for-cancellation" id="reason-for-cancellation" placeholder="Please enter a reason for cancelling your ticket."></textarea>
        <button>Back</button>
        <button type="submit">Cancel Ticket</button>
    </form>  
{% endblock %}